* {
    padding: 0;
    margin: 0;
    font-family: century gothic;
    text-align: center;
  }
  
  form {
    padding: 50px 20px;
    background-color: #381b1ba6;
    margin-left: 30%;
    margin-right: 30%;
    padding-top: 28px;
    margin-bottom: 30px;
  }
  
  h1 {
    text-align: center;
    padding: 12px;
    color: rgb(206, 203, 203);
  }
  
  input {
    width: calc(100% - 20px);
    padding: 9px;
    margin: auto;
    margin-top: 12px;
    font-size: 16px;
  }
  
  .blanco {
    color: white;
    text-align: center;
  }
  
  body {
    background-image: url(img.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment:fixed;
  }
  .verde{
    background-color: green;
  }